.footer-wrapper{
    width: 100%;
    height: 400px;
    color: white;
    background-color: #262930;
}

.footer-content{
    max-width: 1500px;
    margin: auto;
    height: 100%;
}

.footer-top{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-bottom{
    width: 100%;
    height: 30%;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-inputdiv{
    width: 35%;
    height: 15%;
    display: flex;
    align-items: center;
    background-color: red;
    margin-top: 30px;
}

.footer-input{
    width: 75%;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgb(61, 60, 60);
}

.footer-input::placeholder{
    padding: 10px;
    color: rgb(157, 151, 151);
}

.footer-signup-btn{
    width: 25%;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #FF5722;
    background-color: #edeef0;
}

.footer-brand{
    display: flex;
    justify-content: space-between;
}

.social-icons{
  display: flex;
  gap: 10px;
  font-size: larger;
}

.footer-links{
    color: rgb(65, 65, 225);
    display: flex;
    gap: 10px;
    font-size: small;
}

.footer-link{
    cursor: pointer;
}

.footer-link:hover{
    text-decoration: underline;
}